<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <h1> todo list</h1>
  <!-- <p>
    <button id="newTodo">Add item</button>
    <button id="editTodo">Edit</button>
    <button class="toggleButton"> toggle</button>
    <span class="words">wordssss</span>
  </p> -->

  <section id= "todoApp">
    <header id="header">
      <script type="text/template" id="HomeViewTemplate">
        <h2>Todos</h2>
        <input id="newTodo" placeholder="what needs to be done?">
      </script>
    </header>
  <section id="main">
      <script type="text/template" id="ListViewTemplate">
        <ul id="todo-list"><div>todos</div>
          <% _.forEach(todos, function(todo){ %>
            <li>
              <input type="checkbox"/>
              <a href="#todo/<%=todo._id%>"><%= todo.toDo %> <%= todo.toDo %></a>
            </li>
          <% }) %>
        </ul>
      </script>
    </section>
  </section>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
